body{
    background-color: #d4d4d4;
}

header h1{
    width: 100%;
}

main{
    display: flex;
   
}

section{
    display: flex;
    flex-direction: column;
    width: 33,33%;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    
   
}
.pizza-option img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px black; ;
    
}

.pizza-option{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.pizza-option p{
    
    text-align: center;
    font-size: 12px;
}

span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span button{
    width: 40px;
    height: 40px;
    background-color: rgb(50, 50, 255);
    color: #fff;
    border-radius: 50% ;
}


#flavor{
    font-size: 18px;
    font-weight: bold; 
}