body{
    background-color: #d4d4d4;
}

header h1{
    width: 100%;
}

main{
    display: flex;
   
}

section{
    display: flex;
    flex-direction: column;
    width: 33,33%;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    
   
}
.pizza-option img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px black; ;
    
}

.pizza-option{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.pizza-option p{
    
    text-align: center;
    font-size: 12px;
}

span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span button{
    width: 40px;
    height: 40px;
    background-color: rgb(50, 50, 255);
    color: #fff;
    border-radius: 50% ;
}


#flavor{
    font-size: 18px;
    font-weight: bold; 
}

.hidden{
    display: none !important
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;

}
.aside h2{
    background-color: aqua;
    margin-bottom: 0;
}
.aside{
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100vh;
}
.your-pizza{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}

.your-pizza h1{
    margin: 0;
}
.your-pizza button{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.info span, .finalizar-compra span{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
}

.confirmation-box{
    display: flex;
    background-color: aqua;
    align-items: center;
    width: 100vw;
    height: 500px;
}
.confirmation{
    background-color: brown;
    width: 100%;
    
}

.confirmation img{
    width: 300px;
    height: 300px;
}